Package: ukui-session-manager
Version: 2.0.12-8
Architecture: amd64
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Installed-Size: 6131
Depends: ukui-themes | ubuntukylin-theme, dconf-gsettings-backend | gsettings-backend, libc6 (>= 2.14), libgcc-s1 (>= 3.0), libglib2.0-0 (>= 2.12.0), libgsettings-qt1 (>= 0.1+14.04.20140408), libice6 (>= 1:1.0.0), libkf5configcore5 (>= 4.97.0), libkf5coreaddons5 (>= 4.97.0), libkf5idletime5 (>= 4.96.0), libqt5core5a (>= 5.12.2), libqt5dbus5 (>= 5.0.2), libqt5gui5 (>= 5.7.0) | libqt5gui5-gles (>= 5.7.0), libqt5widgets5 (>= 5.6.0~beta), libqt5x11extras5 (>= 5.6.0), libsm6, libstdc++6 (>= 4.9), libukui-log4qt1 (>= 1.0.2), libx11-6, libxcb1, libxtst6, libglib2.0-bin, libqt5multimedia5-plugins
Recommends: peony, ukui-kwin | ukwm, ukui-panel, ukui-polkit, ukui-screensaver, ukui-settings-daemon
Provides: x-session-manager
Section: x11
Priority: optional
Homepage: https://github.com/ukui/ukui-session-manager
Description: Session manager of the UKUI desktop environment
 This package contains a session that can be started from a display
 manager such as lightdm. It will load all necessary applications for
 a full-featured user session.
 .
 This package contain the session manager component.
