[Desktop Entry]
Type=Application
Exec=ukui-session
TryExec=ukui-session
Name=UKUI 3.0
Comment=This session logs you into UKUI 3.0

#TRANSLATIONS_DIR=translations
